[submodule "OSTool"]
	path = OSTool
	url = git@github.com:NoderRobot/OSTool.git
[submodule "CICore"]
	path = CICore
	url = git@github.com:NoderRobot/CI.git
[submodule "CI"]
	path = CI
	url = git@github.com:NoderRobot/CI.git
